<div class="cover-show">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">会員一覧</h1>
    </div>
    <div class="row justify-content-center d-block">

    <table>
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>退会ステータス</th>
        </tr>
      </thead>
              
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%=user.id %></td>
          <td><%= link_to user.full_name, admin_user_path(user.id) %></td>
          <td><%= user.email %></td>
    　     <td><% if user.is_deleted == false %>
    　           有効
    　         <% else %> 
    　           退会
    　         <% end %></td>
    　    </tr>
    　  <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
