<h2>会員一覧</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <table>
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>退会ステータス</th>
            </tr>
          </thead>
          
          <tbody>
          <% @users.each do |user| %>
      　     <tr>
              <td><%=user.id %></td>
　            <td><%= link_to user.full_name ,admin_users_index_path(user.id) %></td>
　            <td><%= user.email %></td>
　            <td><% if usersr.is_deleted == false %>
　            有効
　            <% else %> 
　            退会
　            <% end %></td>
　         </tr>
　        <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
