<div class="container">
  <div class="row mt-5">
    <div class="col-9"></div>
      <h1>Little Life Juane</h1>
      <h3>〜愛しい我が子の成長記録〜</h3>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
        <%= link_to 'ログイン', '/users/sign_in', class: 'btn btn-info btn-sm btn-block mb-3 sign_up' %>
        </div>
        <div class="row">
          <%= link_to '新規会員登録', '/users/sign_up', class: 'btn btn-success btn-sm btn-block sign_up' %>
        </div>
      </div>
    </div>
  </div>
</div>