<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>愛しい我が子の成長記録</h1><br>
      <h3>〜一瞬の思い出を一生の思い出に〜</h3><br>
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="btn-wrapper col-10 mx-auto">
        <br><div class="row">
          <%= link_to 'ログイン', '/users/sign_in', class: 'btn btn-danger btn-sm btn-block mb-3 sign_up' %>
        </div>
        <br><div class="row">
          <%= link_to '新規会員登録', new_user_registration_path, class: 'btn btn-warning btn-sm btn-block sign_up' %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>