<div class="cover-show">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">コメント一覧</h1>
    </div>
    <div class="row justify-content-center d-block">

    <table class="table">
      <thead>
        <tr>
          <th>日時</th>
          <th>コメント内容</th>
        </tr>
      </thead>
          
      <tbody>
        <% @post_comments.each do |comment| %>
      　   <tr>
            <td><%= comment.created_at.to_time.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%= comment.comment %></td>
            <td><%= link_to "削除する", admin_user_post_comment_path(comment.user.id, comment),class: "btn btn-sm btn-danger", method: :delete,"data-confirm" => "本当に削除しますか？"%></td>
　        </tr>
　      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
